.arrowButton {
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.fa-arrow-up {
  font-size: 2em;
}
