.researchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

.cityResearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

#map {
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  height: 40em;
  width: 40em;
}

#cityInput {
  margin: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  width: 20vh;
}
